@import './global.scss';

.barang-add{
  padding: 50px;

  &__form{
    height:450px; 
   font-size: 16px;
   margin: 30px 470px;
   padding: 10px 5px 10px 15px;
   text-align: left;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   border-radius: 10px;
   width: 480px;
   background-color: white;
   box-shadow: 12px 12px 2px 1px rgba(139, 128, 91, 0.2);

   h1{
    padding: 0px 150px;
    font-size: 18px;
    font-weight: bold;
  }
  
  .button{
    &__submit{
      width: 100px;
      height: 40px;
      border-radius: 5px;
      margin: 15px 190px 0px;
    }
  }
  
  .input{
      height: 30px;
      width: 200px;
  
    &__kode{
      margin-left: 57px;
    }
    
    &__nama{
      margin-left: 50px;
    }
    
    &__harga{
      margin-left: 103px;
    }
    
    &__stok{
      margin-left: 112px;
    }
  }
  }
}