@import './main.scss';

.barang-add{
    &__container{
        display: flex;
        justify-content: center;
        padding:  50px 100px;
    }
    &__form{
        height: 420px; 
        font-size: 16px;
        margin-top: 25px;
        margin-right: 50px;
        padding: 35px 48px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 8px;
        width: 500px;
        background-color: white;
        box-shadow: 0 6px 20px calc(rgb(17 26 104 / 20%));
        border: 1px solid #c4c4c4;
    }

    &__table{
        font-size: $base-font-size-large;
        font-weight: $weight-bold;
    }
}

td{
    font-size: $base-font-size-large;
    font-weight: $weight-bold;
    display: flex;
    justify-content: center;
}

.form{
    &__group{
        width: 410px;
        margin-bottom: 32px;
        padding: 0px;
        height: 60px;
    }

    &__input{
        border: none;
    }

    &__button{
        width: 410px;
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        padding: 0px 50px;
    }
}

label{
    font-family: $base-font-family;
    font-weight: $weight-bold;
    font-size: 12px;
    line-height: 16px;
    color: #3a4166;
    margin-bottom: 16px;
}