.AddBarang{
  padding: 50px;
}

.wrapperBaru{
  height: 100%;
  width: 95%;
  background-color:#E9E6E2;
  background-color: white;
  border-radius: 10px;
  margin: 10px 35px;
  justify-content: center;

  table{
      width: 100%;
      height: 85px;
      background-color: white;
      box-shadow: 3px solid whitesmoke;
      border-radius: 10px;
      justify-content: center;
      table-layout: fixed;
  }

  td{
      padding: 5px 20px;
      height: 100%;
      align-items: center;
      width: 50px;
  }
}

.formAddBarang {
   height:450px; 
   font-size: 16px;
   margin: 30px 550px;
   padding: 10px 5px 10px 25px;
   text-align: left;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   border-radius: 10px;
   width: 400px;
   background-color: white;
   box-shadow: 12px 12px 2px 1px rgba(139, 128, 91, 0.2);


h1{
  padding: 0px 110px;
  font-size: 18px;
}

.btn{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    margin: 15px 150px 0px;
}

.inputID{
  height: 30px;
  width: 250px;
  margin-left: 75px;
}

.inputNama{
  height: 30px;
  width: 250px;
  margin-left: 50px;
}

.inputHarga{
  height: 30px;
  width: 250px;
  margin-left: 50px;
}

.inputStok{
  height: 30px;
  width: 250px;
  margin-left: 60px;
}
}
