@import './global.scss';

@import './global.scss';

.cart{
    
    &__content{
        width: 182vh;
        height: 80px;
        margin: 10px;
    }
}

.status-user{
    padding: 5px 53px;
    margin: 0px 500px;
    font-weight: 900;
    font-size: x-large;
    color: black;
}

.button{

    &__delete{
        width: 70px;
        height: 40px;
        border-radius: 10px;
        margin: 20px 10px 5px 0px;
        float: right;
        background:darkred;
        font-weight: 900;
        color: white;
    }
}