@import './main.scss';

.home{
    &__container{
        box-sizing: border-box;
        height: 100vh;
        background-image: url(../image/ingredients.jpg);
        background-size: 100%;
        padding: 200px 50px;
    }

    &__wrapper{
        padding: 10px 5px;
        width: 700px;
        height: 100px;
    }

    &__slogan{
        font-family: $base-font-family;
        font-weight: 900;
        letter-spacing: .05em;
        font-size: 40px;
    }
}

