@import './global.scss';

.listcart{
    
}

.button{

    &__show{
        width: 100px;
        height: 50px;
        border-radius: 10px;
        margin: 10px 720px;
    }

    &__delete{
        width: 70px;
        height: 40px;
        border-radius: 10px;
        margin: 20px 10px 5px 0px;
        float: right;
        background:darkred;
        font-weight: 900;
        color: white;
    }
}

