@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

.nav-header{

    &__container-header{
        width: 100%;
        padding: 30px 5px;
        justify-content: space-between;
        height: 20px;
        background-color:#173F5F;
        display: flex;
        border-radius: 0px;
    
        .link{
            width: 55px;
            align-items: center;

            &__home{
                text-decoration: none;
                color:white;
                font-weight: 900;
                border: none;
                justify-content: center;
                font-family: 'Comfortaa', cursive;
                margin-right: 850px;
                margin-left: 10px;
             }
        
            &__barang{
                text-decoration: none;
                color:white;
                font-weight: 900;
                border: none;
                justify-content: center;
                padding: 10px;
                font-family: 'Comfortaa', cursive;
            }
        
            &__tambahbarang{
                text-decoration: none;
                color:white;
                font-weight: bold;
                border: none;
                justify-content: center;
                border-radius: 10px;
                padding: 10px;
                margin: 10px 15px;
            }
        
            &__cart{
                text-decoration: none;
                color:white;
                font-weight: bold;
                border: none;
                justify-content: center;
                border-radius: 10px;
                padding:10px;

                &__icon{
                    width: 50px;
                    height: 100%;
                }
            }
            
            &__signup{
                text-decoration: none;
                color:white;
                font-weight: bold;
                border: none;
                justify-content: center;
                border-radius: 10px;
                padding: 10px;
                width: 50px;
                border: 1px solid white;

                &:hover {
                    background-color: white;
                    color:black;
                }
            }
            
            &__signin{
                text-decoration: none;
                color:white;
                font-weight: bold;
                border: none;
                justify-content: center;
                border-radius: 10px;
                padding: 10px;
                margin-right: 10px;
                border: 1px solid white;

                &:hover {
                    background-color: white;
                    color:black;
                }
            }
            
            &__signout{
                text-decoration: none;
                color:white;
                font-weight: bold;
                border: none;
                justify-content: center;
                border-radius: 10px;
                padding: 10px;
                border: 1px solid white;
                margin-top: 2px;

                &:hover {
                    background-color: white;
                    color:black;
                }
            }
                
            &__profile{
                text-decoration: none;
                color:white;
                font-weight: bold;
                border: none;
                border-radius: 10px;
                margin: 5px;
                padding: 10px;

                &__icon{
                    width: 50px;
                    height: 100%;
                }
            }
        }
    }    
}
