.navheader{
}

.container-header{
    width: 100%;
    padding: 25px 5px;
    justify-content: space-between;
    margin-bottom: 10px;
    height: 30px;
    background: #C1C2AD;
    display: flex;
    border-radius: 0px;
    
    p{
        color: black;
        font-size: large;
        font-weight: bold;
        margin: 0px;
    }
}


.link{
    width: 55px;
    margin-top: 10px;
    align-items: center;

&__barang{
            text-decoration: none;
            color:white;
            font-weight: bold;
            background: #435560;
            border: none;
            justify-content: center;
            border-radius: 10px;
            margin: 10px 10px 10px ;
            padding: 10px 10px;
    }

&__tambahbarang{
    text-decoration: none;
            color:white;
            font-weight: bold;
            background: #435560;
            border: none;
            justify-content: center;
            border-radius: 10px;
            padding: 10px 10px;
            margin: 10px 15px 10px ;
}

&__cart{
    text-decoration: none;
    color:white;
    font-weight: bold;
    background: #435560;
    border: none;
    justify-content: center;
    border-radius: 10px;
    margin: 10px 10px 10px ;
    padding: 10px 10px;
}

&__signup{
    text-decoration: none;
    color:white;
    font-weight: bold;
    background: #435560;
    border: none;
    justify-content: center;
    border-radius: 10px;
    margin: 10px 10px 10px ;
    padding: 10px 10px;
    width: 50px;
}

&__signin{
    text-decoration: none;
    color:white;
    font-weight: bold;
    background: #435560;
    border: none;
    justify-content: center;
    border-radius: 10px;
    margin: 10px 10px 10px ;
    padding: 10px 10px;
}

&__signout{
    text-decoration: none;
    color:white;
    font-weight: bold;
    background: #435560;
    border: none;
    justify-content: center;
    border-radius: 10px;
    margin: 10px 10px 10px ;
    padding: 10px 10px;
}
    
&__profile{
    text-decoration: none;
    color:white;
    font-weight: bold;
    background: #435560;
    border: none;
    justify-content: center;
    border-radius: 10px;
    margin: 10px 10px 10px ;
    padding: 10px 10px;
}
}


