.profile{
 
}

.container__profile{
    height: 100vh;
    width: 100%;
    background: transparent;
    border-radius: 0px;

    .wrapper{
        height: 150px;

        &__profile{
            padding: 10px 400px;
            border-radius: 17px;
            margin: 10px;
            background: white;
            border: 1px solid rgba(139, 128, 91, 0.2);
        }

        &__link{
             padding: 20px 200px;
             border-radius: 7px;
             margin: 10px;
             background: white;
             border: 1px solid rgba(139, 128, 91, 0.2);
        }
        
    }
}

.link{

    &__SignOut{
        font-weight: bold;
        text-decoration: none;
        color: black;
    }
}

body{
    padding: 0;
    margin: 0;
    justify-content: center;
  }

