@import './main.scss';

.signup{
    &_container{
      display: flex;
      justify-content: center;
      padding: 50px;
    }

    &_form{
        font-size: 16px;
        padding: 30px 48px;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 8px;
        width: 500px;
        height: 660px; 
        background-color: white;
        box-shadow: 0 6px 20px calc(rgb(17 26 104 / 20%));
        border: 1px solid #c4c4c4;
        box-sizing: border-box;
    }
}

.form{
  &_input{
    border:none;
  }

  &_group{
      margin-bottom: 30px;
      padding: 0px;
      height: 65px;
  }

  &_button{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    margin-top: 20px;
  }
}

label{
    font-family: $base-font-family;
    font-weight: $weight-bold;
    font-size: 12px;
    line-height: 16px;
    color: #3a4166;
    margin-bottom: 5px;
}