@import './global.scss';

.signup{
    padding: 50px;

    &__form{
      height:450px; 
      font-size: 16px;
      margin: 30px 450px;
      padding: 10px 20px 10px 20px;
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-radius: 10px;
      width: 450px;
      background-color: white;
      box-shadow: 12px 12px 2px 1px rgba(139, 128, 91, 0.2);
      border: 1px solid rgba(139, 128, 91, 0.2);
    
      .btn{
        width: 100px;
        height: 40px;
        border-radius: 10px;
        margin: 15px 180px 0px;
        border: none;
        background-color: #28527A;
        color: white;
        font-weight: bold;
        font-size: 16px;
      }
    
      .input{
        width: 250px;
    
        &__id{
          margin-left: 152px;
       }
       
       &__nama{
           width: 250px;
           margin-left: 127px;
       }
       
       &__hp{
          width: 250px;
          margin-left: 55px;
       }
       
       &__email{
           width: 250px;
           margin-left: 132px;
       }
     
       &__password{
         width: 250px;
         margin-left: 100px;
       }
      }
    }
}

.title-signup{
    height: 50px;
    padding: 0px 150px;
    margin: 5px;
}