@import './main.scss';

.signin{
    &__form{
        height: 450px; 
        font-size: 16px;
        padding: 30px 48px;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 8px;
        width: 500px;
        background-color: white;
        box-shadow: 0 6px 20px calc(rgb(17 26 104 / 20%));
        border: 1px solid #c4c4c4;
        box-sizing: border-box;
    }
}

.form{
    &__group{
        margin-top: 32px;
        padding: 0px;
        height: 60px;
    }

    &__input{
        border: none;
    }

    &__button{
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
}

label{
    font-family: $base-font-family;
    font-weight: $weight-bold;
    font-size: 12px;
    line-height: 16px;
    color: #3a4166;
    margin-bottom: 16px;
}