.Barang{
 border: 1px solid black;
}

.container{
    padding: 10px 5px 10px 30px;
    height: 60px;
    background-color:#E9E6E2;

    table{
        width: 95%;
        height: 100%;
        padding: 5px 0px 5px 0px;
        background-color: white;
        box-shadow: 3px solid whitesmoke;
        border-radius: 10px;
        justify-content: space-evenly;
        margin: 5px 30px;
        table-layout: fixed;
    }

    td{
        padding: 3px 0px 3px 30px;
        margin: 0px;
        width: 30px;
        //border: 1px solid black;
        justify-content: space-between;
        align-items: center;
    }
}

.button{
    &__tambah{
        background-color: #28527A;
        margin: 0px 10px;
        border-radius: 5px;
        width: 35px;
        height:35px;
        border:none;
        color:white;
        font-size: medium;
    }

    &__kurang{
        background-color: #810000;
        margin: 0px 10px;
        border-radius: 5px;
        width: 35px;
        height:35px;
        border:none;
        color: white;
        font-size: large;
    }

    &__tambahQty{
        background-color: #28527A;
        margin: 0px 5px 0px 5px;
        border-radius: 5px;
        width: 35px;
        height:35px;
        border:none;
        color:white;
        font-size: large;
    }

    &__kurangQty{
        background-color: #810000;
        margin: 0px 5px 0px 5px;
        border-radius: 5px;
        width: 35px;
        height:35px;
        border:none;
        color: white;
        font-size: large;
    }

    &__remove{
        background-color: #810000;
        margin: 0px 10px;
        border-radius: 5px;
        width: 64px;
        height:35px;
        border:none;
        color: white;
        font-size: 14px;
        padding: 0pc 5px 0px 5px;
        font-weight: 900;
    }
}


.input{
    width: 75%;
    margin: 0px 5px;
    padding: 0px 5px;
    justify-content: center;
}


body{
    padding: 0;
    margin: 0;
    justify-content: center;
  }

