.Barang{
 border: 1px solid black;
}

.container{
    padding: 15px;
    height: 10vh;
    background-color:#E9E6E2;

    table{
        width: 90%;
        height: 100%;
        padding: 10px 15px 5px 5px;
        background-color: white;
        box-shadow: 3px solid whitesmoke;
        border-radius: 10px;
        justify-content: space-evenly;
        margin: 0px 60px;
    }

    td{
        padding: 5px 5px ;
        margin: 0px;
        width: 45px;
        //border-bottom: 1px solid black;
    }
}

.button{
    &__tambah{
        background-color: #28527A;
        margin: 0px 10px;
        border-radius: 5px;
        width: 50px;
        height:35px;
        border:none;
        color:white;
        font-size: medium;
    }

    &__kurang{
        background-color: #810000;
        margin: 0px 10px;
        border-radius: 5px;
        width: 50px;
        height:35px;
        border:none;
        color: white;
        font-size: large;
    }
}


body{
    padding: 0;
    margin: 0;
    justify-content: center;
  }

